.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(31, 26, 39);
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
    
}



.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 15px 5px;
    background-color: #FFF;
}
#price_list {
    text-align: left;
    border-style: solid;
    color:black; 
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 5px 5px 5px 2px;
    clear:both;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color:  rgb(31, 26, 39);
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
} 

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;

}

.container {
    margin: 4% auto;
}

#icon {
    max-width: 200px;
    margin: 1% auto;
}

#login {
    float: right;
}
#status-car {
    clear:both;
    margin-left: 60px;
}
footer {
    width: 100%;
    background-color: rgb(31, 26, 39);
    padding: 3%;
    margin-top: 60px;
    color: #fff;
}
.fa { 
    padding: 20px;
    font-size: 30px;
    color: #fff;
}
.fa:hover {
    text-decoration: none;
}

.row .column {
    margin: 0 10px;
    position: relative;
    width: calc(25% - 20px);
    min-height: 250px;
    background: #fff;
    float: left;
    box-sizing: border-box;
}
.row .column .imgBox {
    position: relative;
}

.row .column .imgBox img {
    width: 100%;
    transition: 1s;
}

.row .column:hover .imgBox img {
    transform: scale(1.2);

}

#saban {
    clear:both;
}
#report{
    margin-left: 20px;
}

#notification { 
    clear:both; 
    border: 1px double black; 
    margin: 7px; 
    box-shadow: 3px 3px 2px 1px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px;
}

#search {
    margin-top: 13px;
}

@media  (max-width: 600px ) {
    .carousel-caption {
        display: none;
    }


#icon {
    max-width: 150px;
}

h1 {
    font-size: 1.8em;
}

.row .column {
    float: none;
    min-width: 200px;
    vertical-align: middle;
    
}

}